body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f0f0f0;
}

.background {
    background-image: url('background-money.jpg'); /* Substitua 'background-money.jpg' pelo caminho para sua imagem de fundo */
    background-size: cover;
    background-position: center;
    height: 100%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 50px;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

header p {
    font-size: 18px;
    margin-bottom: 50px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.signup-form input {
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-form button {
    background-color: #27ae60;
    color: black;
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-form button:hover {
    background-color: #219952;
}

.download-button {
    background-color: #f39c12;
    color: black;
    padding: 15px 30px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.download-button:hover {
    background-color: #d35400;
}

.feedbacks {
    margin-top: 50px;
}

.feedback {
    margin-top: 30px;
}

.feedback span {
    font-weight: bold;
}

